<!--model List<Challenge_AmericaVirtual.Models.Country>-->


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="../Public/Css/main.css">
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript"
            src="/scripts/jquery-1.2.3.min.js">
    </script>
    <title>@ViewBag.Title - America Virtual </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/main.js")
    

</head>
<body class="Body">
    <div class="container ">
        @Html.Partial("~/Views/Account/Login.cshtml")
        @Html.Partial("~/Views/Account/Register.cshtml")
        <div class="panel-title">
            <h3 class="text-center text-uppercase active"> SERVICIO DE CLIMA</h3>
            <hr style="border-color:#FF6859;" />
        </div>
        <div class="panel-body">

            @{ if (ViewBag.Username != null)
                {
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="cardFirstRow">
                                <div class="card-header text-center">
                                    <h4 class="title">Seleccione la zona</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group ">
                                        <label> Pais</label>
                                        <br />
                                        @Html.Partial("~/Views/Zone/CountrySelector.cshtml")
                                    </div>
                                    <div class="form-group ">
                                        @Html.Partial("~/Views/Zone/ZoneSelector.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="cardFirstRow">
                                <div class="card-header text-center">
                                    <h4 class="title" >Reporte</h4>
                                </div>
                                <div class=" card-body ">
                                    @Html.Partial("~/Views/Zone/ShowWeather.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                        
                            
                                @Html.Partial("~/Views/Zone/Forecast.cshtml")
                            
                 
                }
                else
                {
                    @Html.Partial("~/Views/Home/Logout.cshtml")
                }
            }


        </div>
    </div>
</body>
</html>